.principal {
    height: 100vh;
    display: grid;
    grid-template-columns: 90% 10%;
}
.principal .container {
    background-color: black;
}
.principal .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}