.menu {
  display: flex;
  width: 90px;
  color: black;
  height: 280px;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.menu li {
  color: rgb(46, 46, 46);
  list-style: none;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}
.menu li:hover {
  width: 100%;
  border-radius: 6px;
  background-color: rgb(255, 214, 33);
  color: #494949;
  cursor: pointer;
}
.active {
  width: 100%;
  border-radius: 6px;
  background-color: rgb(255, 214, 33);
  color: #494949;
  cursor: pointer;
}