.menu {
    display: flex;
    width: 90px;
    padding: 10px;
    color: black;
    height: 280px;
    flex-direction: column;
    background-color: white;
    border-radius: 7px;
}
.menu li {
    list-style: none;
    margin-bottom: 30px;
    padding: 5px;
}
.menu li:hover {
    background-color: yellow;
    color: #494949;
    cursor: pointer;
}